source https://api.nuget.org/v3/index.json

storage: none
framework: net5.0
nuget CommandLineParser
nuget Microsoft.Extensions.Logging.Abstractions
nuget NHotkey
nuget NHotkey.WindowsForms
nuget System.Windows.Forms
nuget YamlDotNet